﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmoperaciones.aspx.cs" Inherits="Ambientación_2.operaciones" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            height: 301px;
        }
        .auto-style2 {
            height: 23px;
        }
        .auto-style3 {
            height: 23px;
            width: 688px;
        }
        .auto-style4 {
            width: 688px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    

    </div>
        <table class="auto-style1">
            <tr>
                <td class="auto-style3">Numero uno</td>
                <td class="auto-style2">
                    <asp:TextBox ID="TxtNum1" runat="server" BackColor="#FF99FF"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style4">Numero dos</td>
                <td>
                    <asp:TextBox ID="TxtNum2" runat="server" BackColor="#FF99FF"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style4">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style3"></td>
                <td class="auto-style2"></td>
            </tr>
            <tr>
                <td class="auto-style4">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style4">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>
