﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmejercicio.aspx.cs" Inherits="Ejercicios.frmejercicio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>Taller</h1>
        <h2>Ejercicio 1</h2>
    <div>
    
    </div>
    </form>
</body>
</html>
